.container {
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 15px;
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 0;
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.nav a {
  color: #000;
  text-decoration: none;
}
.nav__menu {
  display: flex;
  column-gap: 24px;
}
.nav__menu-burger {
  display: none;
}
.nav__menu-item--link {
  transition: all 0.2s;
}
.nav__menu-item--link:hover {
  border-bottom: solid 2px #000;
}
.nav__contacts {
  display: flex;
  column-gap: 50px;
}
.nav__contacts-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}
.nav__contacts-block--tell {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding-bottom: 5px;
}
.nav__contacts-block--link {
  opacity: 0.5;
  border-bottom: dashed 3px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}
.nav__contacts-btn {
  display: flex;
  align-items: center;
  padding: 15px 27px;
  border: solid 1px #000;
  border-radius: 6px;
  font-family: "Play";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .nav {
    justify-content: space-evenly;
  }
  .nav__menu {
    display: none;
  }
  .nav__menu-burger {
    display: block;
  }
}
@media (max-width: 700px) {
  .nav {
    justify-content: space-between;
  }
  .nav__contacts {
    display: none;
  }
  .nav__contacts-block {
    display: none;
  }
  .nav__contacts-btn {
    display: none;
  }
}
.banner {
  background-image: url(/images/header/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 979px;
}
.banner__title {
  font-family: "Play";
  max-width: 803px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  padding-top: 300px;
  padding-bottom: 24px;
}
.banner__disc {
  font-family: "Noto Sans";
  max-width: 684px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  padding-bottom: 39px;
}
.banner__btn {
  font-family: "Play";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #323232;
  padding: 15px 73px;
  background-color: #fff;
  text-decoration: none;
  border-radius: 6px;
}

@media (max-width: 1200px) {
  .banner {
    min-height: 733px;
  }
  .banner__title {
    padding-top: 161px;
    max-width: 702px;
  }
}
@media (max-width: 768px) {
  .banner__title {
    font-size: 26px;
    line-height: 30px;
    max-width: 290px;
  }
  .banner__disc {
    font-size: 14px;
    line-height: 19px;
    max-width: 290px;
  }
}
@media (max-width: 320px) {
  .banner__btn {
    padding: 15px 53px;
  }
}
.industries {
  padding: 80px 0;
}
.industries__title {
  padding-bottom: 10px;
  font-family: "Play";
  font-weight: 700;
  font-size: 34px;
  line-height: 141%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.industries__subtitle {
  max-width: 920px;
  margin: 0 auto;
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  padding-bottom: 50px;
}
.industries__blocks {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 110px;
  row-gap: 70px;
}
.industries__item {
  max-width: 190px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.industries__item-img {
  padding-top: 10px;
}
.industries__item-title {
  padding-top: 10px;
  font-family: "Play";
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.industries__item-link {
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  text-decoration: none;
  border-bottom: dashed 3px rgba(0, 0, 0, 0.5);
}

@media (max-width: 320px) {
  .industries__title {
    font-size: 28px;
  }
  .industries__subtitle {
    font-size: 14px;
    line-height: 19px;
  }
  .industries__item-title {
    font-size: 16px;
    line-height: 19px;
  }
  .industries__item-link {
    font-size: 14px;
    line-height: 19px;
  }
}
.products {
  padding-bottom: 70px;
}
.products__title {
  text-align: center;
  padding-bottom: 36px;
  font-family: "Play";
  font-weight: 700;
  font-size: 34px;
  line-height: 48px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.products__blocks {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  flex-wrap: wrap;
  row-gap: 30px;
}
.products__item {
  background-image: url("/images/main/product/bground1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  color: #fff;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.products__item-text {
  padding: 24px;
}
.products__item-title {
  font-family: "Play";
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.products__item-subtitle {
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  max-width: 397px;
}
.products__item-btn {
  display: flex;
}
.products__item-btn--link {
  display: flex;
  align-items: center;
  background: #007FA7;
  border-radius: 0px 0px 0px 6px;
  color: #fff;
  text-decoration: none;
  padding: 15px 108px;
  font-family: "Play";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.products__item-btn--arrow {
  display: flex;
  align-items: center;
  background: #006F92;
  border-radius: 0px 0px 6px 0px;
  padding: 15px 17px;
}
.products__item_2 {
  background-image: url("/images/main/product/bground2.jpg");
}
.products__item_3 {
  background-image: url("/images/main/product/bground3.jpg");
}

@media (max-width: 768px) {
  .products__item {
    min-height: 247px;
  }
  .products__item-btn--link {
    padding: 15px 68px;
  }
}
@media (max-width: 320px) {
  .products__title {
    font-size: 28px;
  }
  .products__item-title {
    font-size: 16px;
    line-height: 19px;
  }
  .products__item-subtitle {
    font-size: 14px;
    line-height: 19px;
  }
  .products__item-btn--link {
    font-size: 14px;
    line-height: 16px;
    padding: 12px 40px;
  }
}
.advantages {
  padding-bottom: 80px;
}
.advantages__title {
  font-family: "Play";
  font-weight: 700;
  font-size: 34px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 38px;
}
.advantages__bg-img {
  display: flex;
  align-items: center;
  background-image: url("/images/main/advantages/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 224px;
}
.advantages__blocks {
  display: flex;
  justify-content: space-evenly;
  gap: 32px;
  padding: 55px 0 75px 0;
  flex-wrap: wrap;
}
.advantages__item {
  color: #fff;
}
.advantages__item-top {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding-bottom: 12px;
}
.advantages__item-top--title {
  font-family: "Play";
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.advantages__item-text {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  max-width: 445px;
}

@media (max-width: 1280px) {
  .advantages__bg-img {
    background-image: url("/images/main/advantages/bg-768.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media (max-width: 768px) {
  .advantages__item-top {
    padding-bottom: 17px;
    justify-content: center;
  }
  .advantages__blocks {
    text-align: center;
  }
}
@media (max-width: 320px) {
  .advantages__title {
    font-size: 28px;
    line-height: 48px;
    padding: 30px;
  }
  .advantages__item-top--title {
    font-size: 16px;
    line-height: 19px;
  }
  .advantages__item-text {
    font-size: 14px;
    line-height: 19px;
  }
  .advantages__blocks {
    padding: 30px 15px;
  }
}
.about {
  padding-bottom: 80px;
}
.about__title {
  font-family: "Play";
  font-weight: 700;
  font-size: 34px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-bottom: 36px;
}
.about__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  gap: 32px;
}
.about__text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

@media (max-width: 1280px) {
  .about__box {
    flex-wrap: wrap;
    justify-content: center;
  }
  .about__img {
    max-width: 803px;
  }
  .about__img-picture {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .about__text {
    font-size: 14px;
    line-height: 19px;
  }
}
.news {
  padding-bottom: 80px;
}
.news__title {
  font-family: "Play";
  font-size: 34px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-bottom: 36px;
}
.news__blocks {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: center;
}
.news__item_4 {
  display: none;
}
.news__item {
  max-width: 445px;
}
.news__item-img {
  padding-bottom: 24px;
}
.news__item-title {
  font-family: "Play";
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.news__item-subtitle {
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding-bottom: 24px;
}
.news__item-btn {
  display: flex;
}
.news__item-btn--link {
  display: flex;
  padding: 15px 145px;
  background: #007FA7;
  color: #fff;
  text-decoration: none;
  border-radius: 6px 0px 0px 6px;
  font-family: "Play";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.news__item-btn--arrow {
  display: flex;
  align-items: center;
  background: #006F92;
  border-radius: 0px 0px 6px 0px;
  padding: 15px 17px;
}

@media (max-width: 1280px) {
  .news__blocks {
    column-gap: 30px;
    row-gap: 36px;
  }
  .news__item_4 {
    display: block;
  }
}
@media (max-width: 768px) {
  .news__item {
    max-width: 260px;
  }
}/*# sourceMappingURL=style.css.map */