.page-about {
    display: flex;
    padding-top: 140px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/images/main/about/zefiro_home_onde.png");
    background-position: 70%;
    background-repeat: no-repeat;
    background-size: contain;

    &__map {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 18px;
        font-family: 'Noto Sans';
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #323232;

        &-link--pr {
            opacity: 0.5;
        }

        a {
            color: #323232;
            text-decoration: none;
        }
    }

    &__content {

        &-title {
            font-family: 'Play';
            font-style: normal;
            font-weight: 700;
            font-size: 34px;
            line-height: 48px;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #323232;
            padding-bottom: 36px;
        }

        &-item {
            display: flex;
            align-items: center;
            column-gap: 32px;
            padding-bottom: 50px;

            &--first {
                flex-direction: row-reverse;
            }
        }

        &-text {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
            font-family: 'Noto Sans';
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #323232;
            max-width: 565px;
        }
    }
}