@font-face {
    font-family: 'Noto';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/NotoSans-Bold.woff2') format('woff2'),
    url('../fonts/NotoSans-Bold.woff') format('woff') ;
}

@font-face {
    font-family: 'Noto';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/NotoSans-Regular.woff2') format('woff2'),
    url('../fonts/NotoSans-Regular.woff') format('woff') ;
}

@font-face {
    font-family: 'Play';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Play-Bold.woff2') format('woff2'),
    url('../fonts/Play-Bold.woff') format('woff') ;
}

@font-face {
    font-family: 'Play';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Play-Regular.w off2') format('woff2'),
    url('../fonts/Play-Regular.woff.woff') format('woff') ;
}